exercicios/build/classes/.netbeans_update_resources
exercicios/build/classes/.netbeans_automatic_build
exercicios/build.xml
exercicios/nbproject/build-impl.xml
exercicios/nbproject/genfiles.properties
exercicios/nbproject/private/private.properties
exercicios/manifest.mf
exercicios/nbproject/private/private.xml
exercicios/nbproject/project.properties
exercicios/nbproject/project.xml
